@charset "UTF-8";
/* Lier, 14. 10. 27. 오전 12:20 ==============================================
   Tool
   ========================================================================== */
/* line 9, main.scss */
a {
  color: inherit;
}

/* line 13, main.scss */
a:hover {
  text-decoration: none;
}

/* line 17, main.scss */
body {
  color: #4d4d4d;
  font-family: sans-serif;
}

/* line 22, main.scss */
.middle {
  display: inline-block;
}
/* line 25, main.scss */
.middle .target {
  display: inline-block;
  vertical-align: middle;
}

/* line 31, main.scss */
.middle:before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  margin-left: -10px;
  vertical-align: middle;
}

/* line 40, main.scss */
.icon, .logo-black, .logo-black-full, .logo-white, .logo-impact {
  position: relative;
  display: inline-block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 49, main.scss */
.icon.blog, .blog.logo-black, .blog.logo-black-full, .blog.logo-white, .blog.logo-impact {
  width: 22px;
  height: 22px;
  background-image: url("icon/icon-blog.png");
}

/* line 55, main.scss */
.icon.facebook, .facebook.logo-black, .facebook.logo-black-full, .facebook.logo-white, .facebook.logo-impact {
  width: 22px;
  height: 22px;
  background-image: url("icon/icon-facebook.png");
}

/* line 61, main.scss */
.logo-black {
  width: 65px;
  height: 27px;
  background-image: url("icon/logo-black.png");
}

/* line 68, main.scss */
.logo-black-full {
  width: 166px;
  height: 26px;
  background-image: url("icon/logo-black-full.png");
}

/* line 75, main.scss */
.logo-white {
  width: 58px;
  height: 22px;
  background-image: url("icon/logo-white.png");
}

/* line 82, main.scss */
.logo-impact {
  width: 250px;
  height: 28px;
  background-image: url("icon/logo-impact.png");
}

/* line 89, main.scss */
.hero {
  color: #16968a;
  font-size: 30pt;
  font-family: 'fira-sans-2', sans-serif;
  text-transform: capitalize;
}

/* Lier, 15. 3. 18. 오후 2:19 ==============================================
   Main Page
   ========================================================================== */
/* line 100, main.scss */
header.major {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  border-bottom: 1px solid #f1f1f1;
  background-color: white;
  z-index: 1;
}
/* line 109, main.scss */
header.major h1 .middle {
  height: 80px;
}
/* line 113, main.scss */
header.major nav {
  height: 40px;
  color: #3d3d3d;
  font-size: 11pt;
  font-family: 'open-sans', sans-serif;
  text-transform: capitalize;
  text-align: center;
}
/* line 121, main.scss */
header.major nav a:hover {
  color: #16968a;
}
/* line 126, main.scss */
header.major nav .internal li {
  padding: 0 10px;
  position: relative;
  list-style: none;
  text-align: left;
}
/* line 132, main.scss */
header.major nav .internal li menu {
  top: 30px;
  left: 10px;
  opacity: 0;
  position: absolute;
  border: 1px solid #e4e4e4;
  background-color: white;
}
/* line 140, main.scss */
header.major nav .internal li menu li {
  padding: 10px 15px;
}
/* line 147, main.scss */
header.major nav .internal li:hover menu {
  opacity: 1;
}
/* line 153, main.scss */
header.major nav .external {
  display: none;
}
@media (min-width: 768px) {
  /* line 113, main.scss */
  header.major nav {
    height: 80px;
    text-align: right;
  }
  /* line 161, main.scss */
  header.major nav .internal li {
    padding: 0 20px;
  }
  /* line 165, main.scss */
  header.major nav .external {
    display: inline-block;
  }
}

/* line 172, main.scss */
footer.major {
  color: white;
  padding: 20px 0;
  font-size: 11pt;
  font-family: "open-sans", sans-serif;
  background-color: #b1b1b1;
}
/* line 179, main.scss */
footer.major .logo-white {
  margin-right: 20px;
}

/* line 184, main.scss */
main {
  padding-top: 120px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  z-index: 0;
}
@media (min-width: 768px) {
  /* line 184, main.scss */
  main {
    padding-top: 80px;
  }
}
/* line 196, main.scss */
main header.spot {
  background-position: bottom;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url("icon/bird.png");
}
/* line 201, main.scss */
main header.spot .middle {
  height: 600px;
}
/* line 205, main.scss */
main header.spot h1 {
  color: white;
  font-size: 60pt;
  font-family: 'fira-sans-2', sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* line 213, main.scss */
main header.spot dl {
  width: 85%;
  display: inline-block;
  color: white;
}
/* line 218, main.scss */
main header.spot dl dt {
  margin-top: 80px;
}
/* line 222, main.scss */
main header.spot dl dd {
  margin-top: 20px;
  line-height: 1.4;
}
/* line 229, main.scss */
main section {
  background-position: top;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-image: url("icon/bg.png");
}
/* line 234, main.scss */
main section article {
  width: 100%;
  padding: 80px 0;
}
/* line 238, main.scss */
main section article .middle {
  height: 100%;
}
/* line 242, main.scss */
main section article h1 {
  color: #16968a;
  font-size: 36pt;
  text-align: center;
  text-transform: capitalize;
}
/* line 249, main.scss */
main section article h2 {
  padding: 0 15%;
  margin-top: 40px;
  line-height: 1.4;
  text-align: left;
}
/* line 255, main.scss */
main section article h2 p {
  margin-top: 10px !important;
}
@media (min-width: 768px) {
  /* line 249, main.scss */
  main section article h2 {
    padding: 0;
    text-align: center;
  }
  /* line 263, main.scss */
  main section article h2 p {
    margin-top: 0 !important;
  }
}
/* line 271, main.scss */
main section article.vision .means {
  display: inline-block;
  margin-top: 40px;
  padding-left: 20px;
  line-height: 1.6;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("icon/bracket-before.png");
}
/* line 283, main.scss */
main section article.history .target {
  width: 100%;
}
/* line 286, main.scss */
main section article.history iframe {
  margin-top: 50px;
}
/* line 292, main.scss */
main section article.areas dd {
  font-size: 70%;
}
@media (min-width: 768px) {
  /* line 292, main.scss */
  main section article.areas dd {
    font-size: 100%;
  }
}
/* line 300, main.scss */
main section article.areas .illust {
  height: 100px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  /* line 300, main.scss */
  main section article.areas .illust {
    margin-top: 40px;
    height: 140px;
  }
}
/* line 312, main.scss */
main section article.areas .illust.sprout {
  background-image: url("icon/illust-sprout.png");
}
/* line 316, main.scss */
main section article.areas .illust.light {
  background-image: url("icon/illust-light.png");
}
/* line 320, main.scss */
main section article.areas .illust.medic {
  background-image: url("icon/illust-medic.png");
}
/* line 324, main.scss */
main section article.areas .illust.education {
  background-image: url("icon/illust-education.png");
}
/* line 328, main.scss */
main section article.areas .illust.solar {
  background-image: url("icon/illust-solar.png");
}
/* line 332, main.scss */
main section article.areas .illust.money {
  background-image: url("icon/illust-money.png");
}
/* line 336, main.scss */
main section article.areas .illust.house {
  background-image: url("icon/illust-house.png");
}
/* line 340, main.scss */
main section article.areas .illust.seed {
  background-image: url("icon/illust-seed.png");
}
/* line 346, main.scss */
main section article.deals #features {
  margin-top: 40px;
  height: 400px;
}
/* line 350, main.scss */
main section article.deals #features .carousel-control {
  background-image: none;
}
/* line 354, main.scss */
main section article.deals #features .glyphicon {
  color: #74c4b3;
  text-shadow: none;
}
/* line 359, main.scss */
main section article.deals #features .cover {
  width: 100%;
  padding: 0 80px;
}
/* line 364, main.scss */
main section article.deals #features .detail {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
  position: absolute;
  color: white;
  line-height: 1.4;
  background-color: #74c4b3;
  opacity: 0;
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 378, main.scss */
main section article.deals #features .detail p {
  margin-bottom: 10px;
}
/* line 383, main.scss */
main section article.deals #features .item:hover .detail {
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 388, main.scss */
main section article.deals #features .middle {
  width: 100%;
  height: 400px;
}

/* Lier, 15. 3. 19. 오전 12:28 ==============================================
   What We Do
   ========================================================================== */
/* line 402, main.scss */
main#what-we-do header {
  margin-top: 40px;
}
/* line 406, main.scss */
main#what-we-do article {
  padding: 0 50px;
  margin: 100px 0;
}
/* line 410, main.scss */
main#what-we-do article h1 {
  font-size: 14pt;
  font-weight: bold;
}
/* line 415, main.scss */
main#what-we-do article p {
  padding: 40px 0;
  line-height: 1.4;
}
/* line 420, main.scss */
main#what-we-do article button {
  min-width: 100px;
  padding: 10px 15px;
  color: #16968a;
  font-size: 11pt;
  text-align: left;
  border: 1px solid #16968a;
  background-color: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
@media (min-width: 768px) {
  /* line 433, main.scss */
  main#what-we-do article:nth-child(2) {
    border-left: 1px solid #f1f1f1;
  }
}
@media screen and (min-width: 768px) {
  /* line 439, main.scss */
  main#what-we-do .modal .modal-dialog {
    min-width: 860px;
  }
}
/* line 444, main.scss */
main#what-we-do .modal .modal-dialog .modal-content {
  padding: 50px;
  box-shadow: none;
  border-radius: 0;
}
/* line 449, main.scss */
main#what-we-do .modal .modal-dialog .modal-content p {
  margin-top: 40px;
  line-height: 1.4;
}
/* line 454, main.scss */
main#what-we-do .modal .modal-dialog .modal-content h2 {
  margin-top: 100px;
}
/* line 458, main.scss */
main#what-we-do .modal .modal-dialog .modal-content img {
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 462, main.scss */
main#what-we-do .modal .modal-dialog .modal-content .name {
  font-size: 12pt;
}
/* line 466, main.scss */
main#what-we-do .modal .modal-dialog .modal-content .career {
  color: #999;
  font-size: 10pt;
  margin-top: 6px;
}
/* line 472, main.scss */
main#what-we-do .modal .modal-dialog .modal-content .process {
  margin-top: 40px;
}

/* Lier, 15. 3. 19. 오전 2:09 ==============================================
   Team
   ========================================================================== */
/* line 485, main.scss */
main#team article {
  margin: 80px 0;
  padding: 0 20px;
  border-right: 1px solid #f1f1f1;
}
/* line 491, main.scss */
main#team article header dl {
  margin: 100px 0 0 15px;
}
/* line 494, main.scss */
main#team article header dl dt {
  font-size: 18pt;
  font-weight: bold;
}
/* line 499, main.scss */
main#team article header dl dd {
  margin-top: 6px;
  font-size: 14pt;
  color: #979797;
}
/* line 507, main.scss */
main#team article .intro {
  margin-top: 80px;
}
/* line 510, main.scss */
main#team article .intro p {
  line-height: 1.4;
  margin-top: 20px;
}

/* Lier, 15. 3. 19. 오전 2:39 ==============================================
   Jobs
   ========================================================================== */
/* line 522, main.scss */
main#jobs {
  margin: 80px 0;
  line-height: 1.4;
}
/* line 526, main.scss */
main#jobs .intro {
  margin-top: 40px;
}
/* line 531, main.scss */
main#jobs h2 {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 6px;
}
/* line 537, main.scss */
main#jobs .warning {
  margin-top: 80px;
}
/* line 541, main.scss */
main#jobs address {
  margin-top: 40px;
}

/* Lier, 15. 3. 19. 오전 2:53 ==============================================
   Portfolio
   ========================================================================== */
/* line 550, main.scss */
main#portfolio {
  margin: 80px 0;
}
/* line 554, main.scss */
main#portfolio header h2 {
  margin-top: 20px;
}
/* line 558, main.scss */
main#portfolio header img {
  margin-top: 40px;
}
/* line 563, main.scss */
main#portfolio .category {
  margin-top: 80px;
}
/* line 566, main.scss */
main#portfolio .category dt {
  font-size: 18pt;
  font-family: 'fira-sans-2', sans-serif;
  color: #55ad8a;
}
/* line 572, main.scss */
main#portfolio .category dd {
  font-size: 12pt;
  margin-top: 10px;
}
/* line 577, main.scss */
main#portfolio .category .team {
  height: 200px;
}
/* line 580, main.scss */
main#portfolio .category .team .cover,
main#portfolio .category .team .detail {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
}
/* line 590, main.scss */
main#portfolio .category .team .cover img {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}
/* line 596, main.scss */
main#portfolio .category .team .detail {
  opacity: 0;
  position: absolute;
  background-color: #999;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 605, main.scss */
main#portfolio .category .team:hover .detail {
  opacity: 1;
}

/* Lier, 15. 3. 19. 오전 3:32 ==============================================
   Contact
   ========================================================================== */
/* line 616, main.scss */
main#contact {
  margin: 80px 0;
  line-height: 1.4;
}
/* line 621, main.scss */
main#contact header h1 {
  margin: 40px 0;
}
/* line 625, main.scss */
main#contact header a {
  display: inline-block;
  margin-top: 40px;
  padding: 10px 12px;
  border: 1px solid #4d4d4d;
}
/* line 633, main.scss */
main#contact address {
  margin-top: 100px;
}
/* line 636, main.scss */
main#contact address .map {
  height: 400px;
}
/* line 640, main.scss */
main#contact address .info {
  padding: 0 20px;
}
/* line 642, main.scss */
main#contact address .info ul {
  padding: 20px 0;
  font-size: 10pt;
  border-bottom: 1px solid #f1f1f1;
}
/* line 647, main.scss */
main#contact address .info ul .title {
  font-size: 12pt;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
