<header class="major">
    <div class="visible-xs">
        <h1>
            <a href="index.html">
                <i class="logo-black target">D3</i>
            </a>
        </h1>
        <nav>
            <a href="sitemap.html" class="glyphicon glyphicon-menu-hamburger"></a>
        </nav>
    </div>
    <div class="container visible-sm visible-md visible-lg">
        <a href="index.html" class="pull-left">
            <h1>
                <i class="logo-black target">D3</i>
            </h1>
        </a>
        <nav class="pull-right clearfix">
            <ul class="internal pull-left clearfix">
                <li class="pull-left">
                    <a href="what-we-do.investing.html">what we do</a>
                    <!--
                    <menu class="sub-menu">
                        <li style="border-bottom: 1px solid #e4e4e4">
                            <a href="what-we-do.investing.html">investing</a>
                        </li>
                        <li>
                            <a href="what-we-do.accelerating.html">accelerating</a>
                        </li>
                    </menu>
                    -->
                </li>
                <li class="pull-left">
                    <a href="team.html">team</a>
                </li>
                <li class="pull-left">
                    <a href="portfolio.html">portfolio</a>
                </li>
                <!--<li class="pull-left">
                    <a href="jobs.html">job</a>
                  </li>-->
                <li class="pull-left">
                    <a href="contact.html">contact</a>
                </li>
            </ul>
            <ul class="external clearfix">
                <li class="pull-left" style="margin-right:10px;">
                    <a href="http://blog.d3jubilee.com/" target="_blank" class="icon blog"></a>
                </li>
                <li class="pull-left">
                    <a href="https://www.facebook.com/d3jubilee" target="_blank" class="icon facebook"></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
