<header class="major row">
    <div class="container">
        <a href="index.html">
            <h1 class="col-xs-12 col-sm-1 text-center">
                <div class="middle">
                    <i class="logo-black target">D3</i>
                </div>
            </h1>
        </a>
        <nav class="col-xs-12 col-sm-11 middle">
            <ul class="internal list-inline target">
                <li>
                    <a href="what-we-do.investing.html">what we do</a>
                    <menu>
                        <li style="border-bottom: 1px solid #e4e4e4">
                            <a href="what-we-do.investing.html">investing</a>
                        </li>
                        <li>
                            <a href="what-we-do.accelerating.html">accelerating</a>
                        </li>
                    </menu>
                </li>
                <li>
                    <a href="team.html">team</a>
                </li>
                <li>
                    <a href="portfolio.html">portfolio</a>
                </li>
                <li>
                    <a href="jobs.html">job</a>
                </li>
                <li>
                    <a href="contact.html">contact</a>
                </li>
            </ul>
            <ul class="external list-inline target">
                <li>
                    <a href="http://blog.d3jubilee.com/" target="_blank" class="icon blog"></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/d3jubilee" target="_blank" class="icon facebook"></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
