<!doctype html>
<html class="no-js" lang="ko" data-ng-app="main">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>d3jubilee - Investing on a mission</title>
    <meta name="description" content="Investing on a mission">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/screen.css"/>
    <link rel="stylesheet" href="static/css/main.css"/>

    <script src="//use.typekit.net/hmi5prq.js"></script>
    <script>try {
        Typekit.load();
    } catch (e) {
    }</script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<main data-ng-controller="HomeController">
    <div data-ng-include="tpls.header"></div>
    <header class="spot text-center">
        <div class="middle">
            <div class="target">
                <h1 class="visible-sm visible-md visible-lg">Investing On A Mission</h1>
                <h1 class="visible-xs">Investing On<br/>A Mission</h1>
                <dl>
                    <dt>
                        <i class="logo-white">D3</i>
                    </dt>
                    <dd class="visible-sm visible-md visible-lg">
                        D3는 다음 세대에게 공정하고 지속가능한 세상을 전하기 위해<br/>
                        그 동안 주목받지 못한 사람들의 삶을 개선하는 벤처기업에 투자하고 그 성장을 돕습니다.
                        <br /><br />
                        <div class="notice">
                          <div class="notice-body">
                            신주발행 공고<br />
                            2018년 1월 24일
                          </div>
                          <a href="/new_shares_2018.docx" download>다운로드</a>
                        </div>
                    </dd>
                    <dd class="visible-xs">
                        D3는 다음 세대에게 공정하고 지속가능한 세상을 전하기 위해 그 동안 주목받지 못한 사람들의 삶을 개선하는 벤처기업에 투자하고 그 성장을 돕습니다.
                        <br /><br />
                        <div class="notice">
                          <div class="notice-body">
                            신주발행 공고<br />
                            2017년 1월 24일
                          </div>
                          <a href="/new_shares_2018.docx" download>다운로드</a>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </header>
    <div class="container">
        <section class="text-center clearfix">
            <article class="vision clearfix">
                <div class="middle">
                    <div class="target">
                        <h1>
                            <i class="logo-black-full">D3 Jubilee</i>
                        </h1>
                        <h2 class="text-center">
                            D3Jubilee는 넘어진 (혹은 소외된) 자들이 일어설 수 있는 발판(시스템 체인지)을 뜻합니다.
                            <!--D3Jubilee는 <q>작은 이들의 가치가 인정받는 기쁨으로 이끄는 디딤돌</q>입니다.-->
                        </h2>
                        <ul class="means text-left">
                            <li>D3 (디쓰리) : 디딤돌</li>
                            <li>Jubilee (쥬빌리) : (실패로) 넘어지거나 (사회에서) 소외된 이들에게도 기회가 주어지는 공동체적 기쁨</li>
                        </ul>
                    </div>
                </div>
            </article>
            <!--<article class="history clearfix">-->
            <!--<div class="col-sm-10 col-sm-push-1">-->
            <!--<h1>history</h1>-->
            <!--<iframe-->
            <!--src="http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=1E3sr_adw2c-q95AnLzObTIIJbrUp-5j54FLU7XWO1AQ&font=PT&maptype=TERRAIN&lang=ko&height=400"-->
            <!--width="100%" height="400" frameborder="0"></iframe>-->
            <!--</div>-->
            <!--</article>-->
            <article class="areas clearfix">
                <div class="col-sm-10 col-sm-push-1">
                    <h1>our impact areas</h1>
                    <h2>
                        <p>국내외에서 사회적으로 크고 중요한 문제를 해결하고 격차를 줄이는 기술기반의 혁신기업을 발굴합니다.</p>
                        <p>뛰어난 사용자 경험과 성장성있는 비즈니스 모델을 만드는 창업가들을 주목합니다.</p>
                    </h2>
                    <div class="row">
                        <dl class="col-sm-3 col-xs-6">
                            <dt class="illust medic"></dt>
                            <dd>헬스케어 혁신과 접근성</dd>
                        </dl>
                        <dl class="col-sm-3 col-xs-6">
                            <dt class="illust education"></dt>
                            <dd>스마트 에듀케이션</dd>
                        </dl>
                        <dl class="col-sm-3 col-xs-6">
                            <dt class="illust solar"></dt>
                            <dd>클린에너지와 접근성</dd>
                        </dl>
                        <dl class="col-sm-3 col-xs-6">
                            <dt class="illust money"></dt>
                            <dd>포용적 금융서비스</dd>
                        </dl>
                        <dl class="col-sm-3 col-xs-6">
                            <dt class="illust seed"></dt>
                            <dd>소비재 및 공급사슬 체계</dd>
                        </dl>
                    </div>
                </div>
            </article>
            <article class="companies clearfix">
              <h1>Portfolio</h1>
              <ul data-ng-repeat="category in category.results">
                <li class="col-md-3 col-sm-6 col-xs-6 team" data-ng-repeat="company in category.companies">
                  <a data-ng-href="{{ company.url }}" target="_blank">
                    <div class="box">
                      <img data-ng-src="{{ company.logo }}" class="cover"/>
                    </div>
                  </a>
                </li>
              </ul>
            </article>
            <!--
            <article class="deals clearfix">
                <div class="carousel-wrap">
                    <h1>featured deals</h1>
                    <div class="visible-xs">
                        <dl data-ng-repeat="feature in features.results" style="margin-top: 60px">
                            <dt>
                                <a data-ng-href="{{ feature.url }}">
                                    <img data-ng-src="{{ feature.logo }}" width="120px" class="target"/>
                                </a>
                            </dt>
                            <dd style="margin-top: 40px;">{{ feature.title }}</dd>
                        </dl>
                    </div>
                    <div data-carousel id="features" interval="5000000000" class="visible-sm visible-md visible-lg">
                        <div data-slide data-ng-repeat="feature in features.results" active="slide.active">
                            <div class="cover">
                                <div class="image text-center col-sm-6 col-xs-6">
                                    <div class="middle">
                                        <img data-ng-src="{{ feature.logo }}" width="120px" class="target"/>
                                    </div>
                                </div>
                                <div class="desc text-left col-sm-6 col-xs-6">
                                    <div class="middle">
                                        <div class="target">
                                            <pre>{{ feature.title }}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail middle">
                                <div class="target text-left">
                                    <p>
                                        {{ feature.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            -->
        </section>
    </div>
    <div data-ng-include="tpls.footer"></div>
</main>

<script src="static/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="static/js/vendor/angular.min.js"></script>
<script src="static/js/vendor/angular-resource.min.js"></script>
<script src="static/js/vendor/bootstrap.min.js"></script>
<script src="static/js/vendor/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
